<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      {{ message }}

      <p>
        <textarea
          v-model="message"
          style="position:relative;margin:auto;width: 96vw;height: 200px;"
        ></textarea>
      </p>
      <p v-if="isVisible">
        Will be visible if isVisible is set to true
      </p>

      <ol>
        <li-item
          v-on:click="log"
          v-bind:title="item.text"
          v-bind:item="item"
          v-for="item in todos"
          v-bind:key="item.text"
        >
        </li-item>
      </ol>
    </div>

    <script>
      Vue.component("li-item", {
        props: ["item"],
        template: `<li>{{item.text}}</li>`
      });
      const app = new Vue({
        el: "#app",
        data: {
          message: `The component system is another important concept
           in Vue, because it’s an abstraction that allows us to build large-scale applications 
           composed of small, self-contained, and
            often reusable components. 
            If we think about it, almost any type of application interface can be abstracted into a tree of components`,
          isVisible: true,
          todos: [
            { text: "Learn JavaScript" },
            { text: "Learn Vue" },
            { text: "Build something awesome" }
          ]
        },
        methods: {
          log: e => {
            const { title } = e.target;
            console.log(title);
          }
        }
      });
    </script>
  </body>
</html>
